.result {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 10px;
  flex-wrap: wrap;
}
.resultImg{
  height: 10vh;
  width: 10vw;
}